.fade-right-leave-active,
.fade-right-enter-active {
  --background-color: hsl(0, 0%, 90%);
  position: relative;
}

.fade-right-leave-active :before,
.fade-right-enter-active :before {
  transition: transform 1s;
  content: "";
  position: absolute;
  background: var(--background-color);
  box-shadow: -6px 0 12px var(--background-color);
  /* Or full width of the container */
  /* width: 100%; */
  width: 200px;
  left: 0;
  height: 100%;
}

.fade-right-enter-to :before,
.fade-right-leave-from :before {
  /* Or full width of the container */
  /* transform:translateX(100%); */
  transform: translateX(200px);
}
