.fade-left-leave-active,
.fade-left-enter-active {
  --background-color: hsl(0, 0%, 90%);
  position: relative;
}

.fade-left-leave-active :before,
.fade-left-enter-active :before {
  transition: transform 1s;
  content: "";
  position: absolute;
  background: var(--background-color);
  box-shadow: 6px 0 12px var(--background-color);
  /* Or full width of the container */
  /* width: 100%; */
  /* transform:translateX(-100%); */
  width: 200px;
  transform: translateX(-200px);
  left: 0;
  height: 100%;
}

.fade-left-enter-from :before,
.fade-left-leave-to :before {
  transform: translateX(0px);
}
