.fade-left-leave-active,
.fade-left-enter-active {
  position: relative;
}

.fade-left-leave-active :before,
.fade-left-enter-active :before {
  transition: left 1s;
  content: "";
  position: absolute;
  background: hsl(0, 0%, 90%);
  box-shadow: 6px 0 12px hsl(0, 0%, 90%);

  /* Or full width of the container */
  /* width: 100%; */
  /* left: -100%; */
  width: 200px;
  left: -200px;

  top: 0;
  height: 100%;
}

.fade-left-enter-from :before,
.fade-left-leave-to :before {
  left: 0px;
}
