.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform .2s;
}

.slide-left-enter-from,
.slide-left-leave-to {
  /* Or full width */
  /* transform: translateX(-100%); */
  transform: translateX(-200px);
}

.slide-left-enter-to,
.slide-left-leave-from {
  transform: translateX(0%);
}
