.slide-top-enter-active,
.slide-top-leave-active {
  transition: transform .2s;
}

.slide-top-enter-from,
.slide-top-leave-to {
  transform: translateY(-100%);
}

.slide-top-enter-to,
.slide-top-leave-from {
  transform: translateY(0%);
}
