/* FONTS */
@font-face {
  font-family: ArialNormal;
  src: url("../fonts/arial-normal.ttf");
}

/* DEFAULT */
:root {
  font-family: ArialNormal;
  --color-background: rgb(250, 250, 250);
  --color-primary: rgba(63, 185, 132, 1);
  --color-primary-dark: rgba(41, 122, 87, 1);
  --layout-max-width: 900px;
  --layout-padding: 0 20px;
  --nav-height: 60px;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

h1 {
  color: hsl(0, 0%, 10%);
}

h2 {
  color: hsl(0, 0%, 20%);
}

p {
  color: hsl(0, 0%, 30%);
}

button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
}

button.primary {
  background: var(--color-primary);
  color: hsl(0, 0%, 95%);
  transition: background .2s;
}

button.primary:hover {
  background: var(--color-primary-dark)
}

.animation-container {
  background: hsl(0, 0%, 90%);
  border-radius: 8px
}

.layout-dimensions {
  max-width: var(--layout-max-width);
  padding: var(--layout-padding);
}

/* PAGE ANIMATION */

.fade-enter-active,
.fade-enter-leave {
  transition: all 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
